<header>
    <section class="topo">
      <section class="logo">

        <!-- <img src="Screenshot_3.png" alt=""> -->
        <h1><a href="/">Livraria de Todos</a></h1>
        <!-- <p>Educação e cultura ao alcance de todos!</p> -->
      </section>
      <section class="login-text">
        <h4>Olá, seja bem vindo(a)!</h4>
        <section class="login-link">
          <a href="/login/entrar">Entre</a> ou
          <a href="/login/cadastro">Cadastre-se</a>
        </section>
      </section>
    </section>

    <nav>
      <a href="/">Home</a>
      <a href="/troca">Trocar</a>
      <a href="/perfil">Perfil</a>
      <a href="/sobre">Quem Somos</a>
    </nav>
  </header>