<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/header.css">
  <link rel="stylesheet" href="/stylesheets/entrar.css">
  <title>Entrar/Cadastro</title>
</head>

<body>
  <%- include('./partials/header') %>

    <main>

      <section class="loggg">

        <img src="/images/livros-login.png" alt="">

        <section class="login">
          <form action="" method="post">
            <h2>Login</h2>
            <section class="form">
              <label for="email">E-mail</label>
              <input type="email" name="email" id="email">

              <label for="password">Senha</label>
              <input type="password" name="password" id="password">
              <a class="pass" href="passwd">Esqueci minha senha</a>

              <a class="criar" href="cadastro">Criar conta</a>

              <button type="submit">Entrar</button>
            </section>
          </form>
        </section>
      </section>
    </main>
</body>

</html>