<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/header.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Livraria de Todos</title>
</head>

<body>
  <%- include('./partials/header') %>

    <main>
      <section class="into">
        <h2>Livro de enfeite? nunca mais!</h2>
        <p>Sabe aquele livro que você terminou e que provavelmente não voltara a ler? </p>
        <p>Há outras pessoas que podem estar interessadas nele.</p>
      </section>
      <section>
        <h2>Compartilhe a experiencia com outras pessoas!</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </section>



      <section>
        <h2>Mais Populares</h2>
        <div class="book_box">
          <img src="img/coraline.png" alt="Livro" />
          <p>Coraline - Neil Gaiman</p>
          <button>Trocar</button>
        </div>

      </section>

      <section>
        <h2>Novidades</h2>
        <div class="book_box">
          <img src="img/coraline.png" alt="Livro" />
          <p>Coraline - Neil Gaiman</p>
          <button>Trocar</button>
        </div>
      </section>
    </main>

    <footer>
      <p>© Copyright 2021 por Grupo 5 da DH. Todos os direitos reservados</p>
    </footer>
</body>

</html>