@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');

:root {
  --azulclaro: #62b5e5;
  --azulescuro: #1d1d27;
  --branco: #fff;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

/*Header */
.topo {
  display: flex;
  background-color: #62b5e5;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  color: var(--branco);
}

.logo a {
  color: var(--branco);
  text-decoration: none;
  font-size: 55px;
  font-family: 'Moon Dance', cursive;
  font-weight: 500;
}

.login-text {
  font-size: 15px;
  margin-right: 30px; 
}

.login-link {
  display: flex;
  align-items: center;
  justify-content: center;  
}

.login-link a {
  text-decoration: none;
  color: var(--branco);
  margin: 0 5px;
  
}

.login-link a:hover {
  text-decoration: underline;
}

nav {
  background-color: var(--azulclaro);
  display: flex;
  justify-content: space-evenly;
  align-items: center;  
}

nav a {
  color: var(--branco);
  font-size: 19px;
  font-weight: 700;
  text-decoration: none;
  padding: 3px 0;
}

/*MAIN*/
.loggg {
display: flex;
justify-content: center;
}

main {
  width: 80%;  
  /*background-color: #ffffff;*/
  margin: auto;
  margin-top: 20px;
  text-align: center;
}


.login {
/* margin:auto; */
border: #DADADA solid 2px;
border-radius: 0 10px 10px 0;
width: 30%;
background-color: #fff;
padding: 30px 55px 37px 55px;
}


.login h2 {
color: #009dac;
font-size: 30px;
margin: 15px 0;
}

.form {
display: flex;
flex-direction: column;
text-align: left;
}

.login label {
font-size: 15px;
margin-bottom: 5px;
}
.login input {
margin-bottom: 20px;
padding: 7px;
border-color: #DADADA;
}

.login button {
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
  -11px -17px 17px -4px rgba(0, 0, 0, 0.06);
transition-duration: 0.7s;
padding: 5px;
cursor: pointer;
font-size: 18px;
margin: 10px 0;
}

.login button:hover {
  box-shadow: -10px 0px 13px -7px #009dac, 10px 0px 13px -7px #009dac,
    -11px -17px 17px -4px rgba(148, 146, 146, 0.06);
}


